html {
    scroll-behavior: smooth;
  }
body{
    padding-top: 3.4rem;
    font-family: 'Raleway', sans-serif;
}
.brand{
    height: 1.5rem;
    width: 1.5rem;
}
.carousel-item img{
    height: 70vh;
    width: 100vw;
}
#quienesSomos{
    background-color: black;
    color: white;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
hr{
    height: 2px!important;
}
#quienesSomos p{
    font-size: 0.8rem;
    text-align: justify;
}
#destacados{
    background-color: black;
    color: white;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.card{
    height: 20rem;
}
.card img{
    height: 7.5rem;
}
.card-text{
    font-size: 0.8rem;
}
#contacto{
    background-color: black;
    color: white;
}
footer{
    color: white;
}
.redes{
    
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: white;
}
i{
    color: white; 
}